<!-- Page Preloder -->
    <!-- <app-loader></app-loader> -->
    <!-- Humberger Begin -->
    <app-slider></app-slider>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
   <app-header></app-header>
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
   <app-navbar></app-navbar>
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    <app-categories></app-categories>
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    <app-featured></app-featured>
    <!-- Featured Section End -->

    <!-- Banner Begin -->
   <app-banner></app-banner>
    <!-- Banner End -->

    <!-- Latest Product Section Begin -->
    <app-latest></app-latest>
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    <app-blog></app-blog>
    <!-- Blog Section End -->
    <app-footer></app-footer>
    <!-- Footer Section Begin -->
    <!-- Footer Section End -->
